# $Header: rdbms/src/server/upgrade/autoupgrade/src/main/resources/autoupgrade/templates/sample_config_windows.properties /st_rdbms_pt-autoupgrade/6 2018/07/11 09:38:27 frealvar Exp $
#
# Copyright (c) 2017, 2018, Oracle and/or its affiliates. 
# All rights reserved.*/
#
#
# DESCRIPTION
# This is a template for config file to be used with autoupgrade tool.
#
# NOTES
# <other useful comments, qualifications, etc.>
#
# MODIFIED    (MM/DD/YY)
# frealvar    07/10/18 - code refactor due to AUPG-250
# frealvar    04/30/18 - AUPG-189 optionally run utlrp and timezone upgrades
# fvallin     07/28/17 - Creation
#
#

#Global configurations
#Autoupgrade's global directory, non-job logs generated,
#temp files created and other autoupgrade files will be
#send here
global.autoupg_log_dir=\\C\\default\\current\\location


#
# sample config file
#

#
# Database number 1
#
upg1.dbname=db11204
upg1.start_time=NOW
upg1.source_home=C:\\app\\Administrator\\product\\11.2.0\\dbhome_1
upg1.target_home=C:\\app\\Administrator\\product\\19.1.0\\dbhome_1
upg1.sid=db11204
upg1.log_dir=C:\\tempo
upg1.upgrade_node=node1
upg1.target_version= 19.1
#upg1.run_utlrp=yes
#upg1.timezone_upg=yes

#
# Database number 2
#
#upg2.dbname=cdb12101
#upg2.start_time=NOW
#upg2.pdbs=pdb$seed,pdbx
#upg2.source_home=C:\\databases\\product\\12.1.0\\dbhome_1
#upg2.target_home=C:\\databases\\product\\19.1.0\\dbhome_1
#upg2.sid=cdb12101
#upg2.log_dir=C:\\tempo
#upg2.upgrade_node=node1
#upg2.target_version= 12.2.0.1
#upg2.run_utlrp=[yes|no]
#upg2.timezone_upg=[yes|no]

#
# You can have as many databases as desired
#
#upgN.dbname=database name
#upgN.start_time=dd/mm/yyyy hh:mm:ss/now
#upgN.source_home=Path to source version of Oracle database
#upgN.target_home=Path to target version of Oracle database
#upgN.sid=Value of Oracle SID
#upgN.log_dir=Path to log dir
#upgN.upgrade_node= Node name
#upgN.target_version= 18.1
#upgN.run_utlrp=[yes|no]
#upgN.timezone_upg=[yes|no]
